<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Hệ thống ATM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label>Tài khoản: {{ loggedInUserEmail }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Chi tiết</ion-label>
    <p>
      Số tiền còn lại: {{ recharge !== null ? (recharge |
      currency:'VND':'symbol':'1.0-0') : '0' }}
    </p>
  </ion-item>
  <ion-button (click)="homeRedirect()" expand="full"> Về trang chủ </ion-button>
</ion-content>
