<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Camera - 2015597</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-button color="primary" (click)="takePicture()" expand="full">
      Chụp hình ngay
    </ion-button>
  </ion-item>
  <ion-button (click)="homeRedirect()" expand="full"> Về trang chủ </ion-button>
</ion-content>
